body {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.25s ease-in-out; /** Firefox **/
    -o-transition: all 0.25s ease-in-out; /** Opera **/
}


h2 { 
	letter-spacing: 03px; 
	text-align: center;  
}

/*----------------------------*/
/** HEADER, LOGO **/
/*----------------------------*/

#hidden {
	display:none;
}


header{
    width: 100%;
    background: #470359;
    height: 70px;
}

.logo{
	margin-top:0px;
}

@media (max-width:420px)
{
	.logo{margin-top: 15px;}
}

.logo img{height:100%;width:100%;}

/*----------------------------*/
/* SEARCH BOX */
/*----------------------------*/

#main_tip_search {
	margin-top:13px;
	height:auto;
	display:block;
}

#tip_search_input{
    font: 16px/1.6 Helvetica, sans-serif;
	color: #686868;
	padding: 4px 4px 4px 46px;
	width: 200px;
	border:solid 1px #FFF;
	border-radius: 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
    box-shadow: none; 
	outline: 0;
	margin: 0;
	background: url(../image/icon-search.svg) no-repeat 12px 7px;
	vertical-align:center;
	background-color:#FFF;
}

#loupe{
	position:relative;
	background: url(../image/loupe.svg) no-repeat;
	width:28px;
	height:30px;
	right:20px;
	top:94px;
	cursor:pointer;
	opacity:1;
}
/*----------------------------*/
/** MENU **/
/*----------------------------*/


nav{
	width: 100%;
	box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  }
  
  nav ul li:hover{background: rgba(0,0,0,.15);}
  
  nav ul li a {
	color: #470359;
	font-size: 20px;
	letter-spacing: 1px;
  }
  