/* этот файл желательно не менять */
/*----------------------------*/
/* LOGIN FORM */
/*----------------------------*/

.login {
	width: 360px;
	padding: 12% 0 0;
	margin: auto;
    right: 40px;
	vertical-align: middle;
  }

 .AccountType, .Date, .Time {
	 color: #6c757d;
 } 

.form, .form1 {
	z-index: 1;
	background: #c5c7c9;
	max-width: 360px; /* ширина блоков 2 и 3 */
	margin: 0 auto 100px; /* позиционирование блоков 2 и 3 в центре с отступом снизу 100px
							возможно понадобится изменить в masterProfile через margin-top, margin-left, margin-bottom, margin-right */
	padding: 45px;
    text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input, .form select, .form1 input, .form1 select {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }
  .form button, button, .form1 button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #470359;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
	background: #470359;
  }
  .form .message {
	margin: 15px 0 0;
	color: #1d1c1c;
	font-size: 14px;
  }
  .form .message a {
	color:#470359;
	text-decoration: none;
  }
  